<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <configSections>
        <sectionGroup name="userSettings" type="System.Configuration.UserSettingsGroup, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" >
            <section name="Tarla.Properties.Settings" type="System.Configuration.ClientSettingsSection, System, Version=4.0.0.0, Culture=neutral, PublicKeyToken=b77a5c561934e089" allowExeDefinition="MachineToLocalUser" requirePermission="false" />
        </sectionGroup>
    </configSections>
    <connectionStrings>
        <add name="Tarla.Properties.Settings.TarlaDBConnectionString"
            connectionString="Data Source=.;Initial Catalog=TarlaDB;Integrated Security=True"
            providerName="System.Data.SqlClient" />
    </connectionStrings>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.5.2" />
    </startup>
    <userSettings>
        <Tarla.Properties.Settings>
            <setting name="Server" serializeAs="String">
                <value>.</value>
            </setting>
            <setting name="Database" serializeAs="String">
                <value>TarlaDB</value>
            </setting>
            <setting name="DBUsername" serializeAs="String">
                <value>sa</value>
            </setting>
            <setting name="DBPass" serializeAs="String">
                <value>Tarla@123</value>
            </setting>
        </Tarla.Properties.Settings>
    </userSettings>
</configuration>